{
  "parser": "babel-eslint",
  "extends": [
    "standard"
  ],
  "plugins": [
    "react"
  ],
  "rules": {
    "react/jsx-uses-react": 1
  },
  "globals": {
    "after": false,
    "afterEach": false,
    "before": false,
    "beforeEach": false,
    "describe": false,
    "it": false,
    "Phaser": false
  }
}
