@import "~bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "~bootstrap-sass/assets/stylesheets/bootstrap/mixins";

.container {
  position: relative;
}

.game {
  width: 100%;
}

.dialogue {
  @include container-fixed($grid-gutter-width);

  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  display: flex;
  flex-direction: column-reverse;

  pointer-events: none;
}
