.spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.panel {
  border-style: none;
  box-shadow: none;
}
.panel-body {
  padding: 20px 35px;
}

.icons {
  padding: 10px;
}

.profile-media {
  margin-top: 0;
  margin-bottom: 35px;
}
.profile-media-body {
  padding-left: 30px;
}

.formatted-name {
  margin-top: 10px;
}
.headline {
  color: gray;
}
.location {
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0px;
  color: darkgray;
}

.background-heading {
  margin-top: 25px;
  margin-bottom: 15px;
  color: gray;
}
.background-media-left {
  min-width: 120px;
  max-width: 120px;
  padding-right: 0;
}
.background-media-body {
  padding-left: 40px;
}
.background-media-body-heading {
  margin-bottom: 5px;
}
.background-media-body-subheading {
  margin-top: 5px;
}
.background-media-body-subheading small {
  margin-left: 25px;
  color: darkgray;
}
